
#settings {
    	margin-top: 20px;
    	margin-left: 20px;
}

#appTitle {
    	font-size: 20px;
	font-weight: bold;
    	margin-bottom: 40px;
}

#theLogonForm {
    	margin-top: 20px;
    	margin-left: 250px;
}

#logonTable td {
    	font-size: 14px;
}


h2 {
    	font-size: 16px;
    	margin-bottom: 10px;
}

#toptable {
	display: none;
}

#tenantName {
    	font-size: 120%;
    	font-weight: bold;
    	margin-left: 100px;

}



input.right { 
	text-align: right; 
}

input.rightreadonly { 
	text-align: right; 
	background-color: #D3D3D3; 
}


#GKRiskAnalysis {
    	font-size: 11px;
}

/***styles for vertical tabs**/
.ui-tabs-vertical { width: 100%; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right;}

/***styles for custom button icons***/
.ui-icon-camera { background-image: url(img/camera.png) !important;}

